extends layout.pug

block content
    each post in posts
        li
            h3
                a( href='/post/' + post.id)= post.title
            span 发帖人：
                a(href="/user/" + post.userId)= post.username
                