extends layout.pug

block content
    each post in posts
        li
            h3
                a( href='/post/' + post.id)= post.title
            span 发帖人：
                a(href="/user/" + post.userId)
                    span= post.username
                    img(width=30 height=30 src='/avatars/' + post.avatar alt=post.username).avatar-mid
                